<template>
  <div>
    <b-input-group>
      <b-form-input v-model="postalCodeInput"
                    :placeholder="inputPlaceholder"
                    :value="postalCode"
                    type="number"
                    no-wheel
      />
      <b-input-group-append>
        <b-button variant="outline-success" @click="onFindStores">
          {{ buttonText }}
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>

<script>
export default {
  name: 'FindStoresByZipCode',
  props: {
    postalCode: String,
    buttonText: String,
    inputPlaceholder: String,
  },
  data() {
    return {
      postalCodeInput: null,
    };
  },
  mounted() {
    this.postalCodeInput = this.postalCode || null;
  },
  methods: {
    onFindStores() {
      this.$emit('findStores', { postalCode: this.postalCodeInput });
    },
  },
  watch: {
    postalCode(value) {
      this.postalCodeInput = value;
    },
  },
};
</script>

<style scoped>

</style>
