<template>
  <div>
    <b-card :hidden="!modalShow"
            class="cs-cookie-position w-100"
            body-bg-variant="light">
      <b-container>
        <b-row>
          <div v-html="getIntroLayerDescriptionText()"/>
        </b-row>
        <learn-more-section v-if="!introLayer"
                            :analytics="analytics"
                            @updateAnalytical="onSetAnalyticalValue"
        />
        <b-row align-h="end">
          <footer-btn :is-intro-layer="introLayer"
                      @setCookie="onSetCookie"
                      @learnMore="onLearnMore"
          />
        </b-row>
      </b-container>
    </b-card>
  </div>
</template>

<script>
import LearnMoreSection from '@/components/v2/cookie-policy/LearnMoreSection.vue';
import FooterBtn from '@/components/v2/cookie-policy/FooterBtn.vue';
import Analytics from '@/mixins/Analytics.vue';

export default {
  name: 'CookieConsent',
  components: { FooterBtn, LearnMoreSection },
  mixins: [Analytics],
  data() {
    return {
      modalShow: false,
      introLayer: true,
      analytics: true,
      cookiePolicyContent: {},
    };
  },
  methods: {
    checkIfUserAgreedToCookiePolicy() {
      const cookieConsent = this.$cookies.get('cookie-consent');
      if (cookieConsent === null) {
        this.modalShow = true;
      } else {
        this.dealWithAnalyticToolsDuePolicy();
      }
    },
    onSetCookie() {
      this.$cookies.set('cookie-consent', {
        essentialsCookies: true,
        analyticsCookies: this.analytics,
      });
      this.modalShow = false;
      this.checkIfUserAgreedToCookiePolicy();
    },
    getIntroLayerDescriptionText() {
      const pPLink = this.$t('pages.privacyPolicy.link');
      const privacyPolicy = `<b-link to="${pPLink}">\
                                ${this.$t('cookiePolicy.introLayer.descriptionArgument1')}\
                             </b-link>`;
      return this.$t('cookiePolicy.introLayer.description', { privacyPolicy });
    },
    onLearnMore() {
      this.introLayer = false;
    },
    onSetAnalyticalValue(value) {
      this.analytics = value;
    },
  },
};
</script>

<style scoped lang="scss">
/deep/ .cs-cookie-position {
  position:fixed;
  bottom:0;
  background-color: $brandSecondaryColor !important;
  font-weight: $brandSubTitleWeight;
  font-size: $brandCookiePolicyFontSize;
  z-index: 10;
}
</style>
