<template>
  <div>
    <b-button v-if="isIntroLayer"
              @click="learnMoreBtn"
              variant="info"
              size="sm"
              class="mr-1">
      {{ $t('cookiePolicy.introLayer.learnMoreBtn') }}
    </b-button>
    <b-button @click="okBtn"
              variant="primary"
              size="sm">
      {{getModalOkBtnText()}}
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'FooterBtn',
  props: {
    isIntroLayer: Boolean,
  },
  methods: {
    okBtn() {
      this.$emit('setCookie');
    },
    learnMoreBtn() {
      this.$emit('learnMore');
    },
    getModalOkBtnText() {
      return this.isIntroLayer
        ? this.$t('cookiePolicy.introLayer.agreeBtn')
        : this.$t('cookiePolicy.learnMoreLayer.agreeBtn');
    },
  },
};
</script>

<style scoped>

</style>
