<template>
  <b-container fluid="sm">
    <b-row align-h="center" class="mb-3">
      <shautt-logo :hide-brand-title="true"/>
    </b-row>
    <b-row>
      <b-alert :show="errorMessage.length > 0" variant="danger" class="w-100">
        {{ errorMessage }}
      </b-alert>
    </b-row>
    <b-form @submit="onSubmit">
      <b-row align-h="center">
        <b-form-group :description="$t('register.form.email.description')"
                      class="w-100">
          <b-input-group :prepend="$t('register.form.email.label')">
            <b-form-input
              v-model="form.email"
              type="email"
              :placeholder="$t('register.form.email.placeholder')"
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <b-row align-h="center">
        <b-form-group :description="$t('register.form.name.description')" class="w-100">
          <b-input-group :prepend="$t('register.form.name.label')">
            <b-form-input
              v-model="form.name"
              type="text"
              :placeholder="$t('register.form.name.placeholder')"
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <b-row align-h="center">
        <b-form-group :description="$t('register.form.password.description')" class="w-100">
          <b-input-group :prepend="$t('register.form.password.label')">
            <b-form-input
              v-model="form.password"
              type="password"
              :placeholder="$t('register.form.password.placeholder')"
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <b-row align-h="center" class="mb-2">
        <b-button type="submit"
                  variant="outline-dark"
                  class="w-100 brand-primary-color">
          {{ $t('register.form.buttons.submit') }}
          <b-icon icon="arrow-right-circle-fill" class="mb-1 ml-1"/>
        </b-button>
      </b-row>
    </b-form>
    <b-row>
      <span>
        {{ $t('register.registerQuestionMessage') }}
        <b-link to="/login" class="brand-primary-color">
          {{ $t('register.signInText')}}
        </b-link>
      </span>
    </b-row>
  </b-container>
</template>

<script>
import ShauttLogo from '@/components/v2/logos/index';

export default {
  name: 'RegisterForm',
  components: { ShauttLogo },
  props: {
    errorMessage: String,
  },
  data() {
    return {
      form: {
        email: '',
        name: '',
        password: '',
      },
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$emit('submitRegister', this.form);
    },
  },
};
</script>

<style scoped lang="scss">
.brand-primary-color {
  color: $brandPrimaryColor;
}
</style>
