<template>
  <b-list-group horizontal class="overflow-auto">
    <div v-for="item in products" v-bind:key="item._id">
      <b-card-group class="cs-dashboard-store-shopping-cart-card-group-item mx-2">
        <product-item :productItem="otherProducts ? item : item.selectedProduct"
                      :is-selectable="true"
                      :is-selected="isProductItemSelected(item)"
                      :quantity="item.quantity"
                      :change-product-message="changeProductMessage"
                      :enable-change-quantity="enableChangeQuantity"
                      @click="onProductClick(item, item.selectedProduct)"
                      :class="otherProducts ? 'cs-pointer' : ''"
                      @updateProductQuantity="onUpdateProductQuantity"
        />
      </b-card-group>
    </div>
  </b-list-group>
</template>

<script>
import ProductItem from '@/components/v2/market-card/ProductItem.vue';

export default {
  name: 'ProductItemCarousel',
  components: { ProductItem },
  props: {
    products: {
      type: Array,
      value: [],
    },
    changeProductMessage: {
      type: String,
      value: '',
    },
    otherProducts: {
      type: Boolean,
      value: false,
    },
    enableChangeQuantity: {
      type: Boolean,
      value: false,
    },
    selectedProductId: {
      type: String,
      value: '',
    },
  },
  methods: {
    onProductClick(item, selectedProduct) {
      this.$emit('click', { item, selectedProduct });
    },
    isProductItemSelected(item) {
      let isItemSelected = false;
      if (this.selectedProductId) {
        isItemSelected = item && item.id && item.id === this.selectedProductId;
      }
      return isItemSelected;
    },
    onUpdateProductQuantity(data) {
      this.$emit('updateProductQuantity', data);
    },
  },
};
</script>

<style scoped>

</style>
