<template>
    <b-card
      :class="`text-center cs-product-item ${isSelectable ? 'cs-product-selectable' : ''}`"
      img-height="120px"
      :img-src="productItem.imageUrl"
      :img-alt="productItem.name"
      img-top
      :border-variant="isSelected ? 'success' : 'dark'"
      body-class="px-0"
      @click="onCardSelected"
    >
      <b-card-text>
        <div @click="onProductSelected" class="cs-pointer" v-if="changeProductMessage">
          <b-alert show size="sm" class="w-100" variant="warning">
            {{ changeProductMessage }}
          </b-alert>
        </div>
        <div class="justify-content-between mt-2">
          <div class="text-dark text-center">
            <price-formatted :value="productItem.price" />
          </div>
          <div>
            <span class="font-weight-bold my-2 text-justify" style="font-size: 10px">
              {{ productItem.name }}
            </span>
          </div>
        </div>
      </b-card-text>
      <template #footer v-if="enableChangeQuantity">
        <quantity-template :quantity="quantity" @changeQuantity="onUpdateQuantity"/>
      </template>
    </b-card>
</template>

<script>
import PriceFormatted from '@/components/v2/Price/PriceFormatted.vue';
import QuantityTemplate from '@/components/v2/shopping-list/QuantityTemplate.vue';

export default {
  name: 'ProductItem',
  components: { QuantityTemplate, PriceFormatted },
  props: {
    productItem: {
      type: Object,
      value: {},
    },
    isSelected: {
      type: Boolean,
      value: false,
    },
    isSelectable: Boolean,
    quantity: {
      type: Number,
      value: 1,
    },
    changeProductMessage: {
      type: String,
      value: '',
    },
    enableChangeQuantity: {
      type: Boolean,
      value: false,
    },
  },
  methods: {
    onProductSelected() {
      this.$emit('click', this.productItem);
    },
    onCardSelected() {
      if (!this.changeProductMessage && this.isSelectable) {
        this.$emit('click', this.productItem);
      }
    },
    onUpdateQuantity({ quantity }) {
      this.$emit('updateProductQuantity', { productItem: this.productItem, quantity });
    },
  },
};
</script>

<style scoped lang="scss">
.cs-product-item {
  width: 200px;
  height: 400px;
  &.card-body {
    padding: 0;
  }
}

.cs-pointer {
  cursor: pointer;
}

.cs-product-selectable {
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
</style>
