<template>
  <div>
    <b-card border-variant="dark"
            :bg-variant="isSelected ? 'secondary' : 'light'"
            class="cs-dashboard-shopping-carts-store-card text-center"
    >
    <b-container>
      <b-row class="store-cart" align-h="between">
        <b-col class="store-rectangle">
          <b-img :src="cart.stores[0].imageUrl"
                 :alt="cart.stores[0].name"
                 left
                 fluid
                 width="50px"
          />
        </b-col>
        <b-col class="store-rectangle-2" align-self="center">
          <span class="text-nowrap font-weight-bolder">
            <price-formatted :value="cart.totalAmount" />
          </span>
        </b-col>
      </b-row>
    </b-container>
    </b-card>
  </div>
</template>

<script>
import PriceFormatted from '@/components/v2/Price/PriceFormatted.vue';

export default {
  name: 'StoreSelection',
  components: { PriceFormatted },
  props: {
    cart: {
      type: Object,
      value: {
        stores: [{}],
      },
    },
    isSelected: {
      type: Boolean,
      value: true,
    },
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped lang="scss">
.cs-dashboard-shopping-carts-store-card {
  // box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
</style>
