<template>
  <div>
    <b-card border-variant="none"
            class="cs-market-card text-center pt-3 px-3"
            :img-src="cart.stores[0].imageUrl"
            :img-alt="cart.stores[0].name"
            :title="cart.stores[0].name"
    >
      <b-row align-h="center">
        <div class="text-nowrap font-weight-bolder">
          {{ $t('userArea.compareMarkets.storeDetails.totalPrice') }}
          <PriceFormatted :value="cart.totalAmount"/>
        </div>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import PriceFormatted from '@/components/v2/Price/PriceFormatted.vue';

export default {
  name: 'StoreDetails',
  components: { PriceFormatted },
  props: {
    cart: Object,
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
.cs-market-card {
  width: 200px;
  height: 300px;
  #box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>
