<template>
  <div @click="$emit('logoClick')">
    <b-img :src="defaultImage" :alt="defaultImageAlt"/>
    <span v-if="!hideBrandTitle" class="font-weight-bolder">{{ $t('brand.name') }}</span>
  </div>
</template>

<script>
export default {
  name: 'ShauttLogo',
  props: {
    hideBrandTitle: Boolean,
  },
  data() {
    return {
      defaultImage: '/images/logoShauttNegative.webp',
      defaultImageAlt: 'Shautt logo',
    };
  },
};
</script>

<style scoped>

</style>
