// Font
$brandFontFamily: 'Montserrat', sans-serif;

// Font weight
$brandTitleWeight: 700;
$brandSubTitleWeight: 400;

// Font size
$brandTitleSize: 1.5rem;
$brandSubTitleSize: 1rem;
$brandCookiePolicyFontSize: 0.8rem;
$brandCookiePolicySubTitleFontSize: 0.9rem;
$footerItemsTitle: 1.2rem;
$footerItemsText: 0.9rem;
$homeIntroTitle: 3.0vw;
$homeSectionTitle: 2.5vw;
$homeSectionItemTitle: 2vw;
$homeSectionItemDescription: 1.5vw;

// Color
$brandPrimaryColor: #FF375F;
$brandSecondaryColor: #444054;
$headerPrimaryColor: #FFFFFF;
$footerPrimaryColor: #FFFFFF;
$homePrimaryColor: #FFFFFF;
$positiveColor: #28a745;
