<template>
  <div>
    <b-container fluid="md">
      <b-row class="mb-4 justify-content-start">
        <div class="h4">{{ $t('userArea.compareMarkets.title') }}</div>
      </b-row>
      <b-row class="mt-3 justify-content-between">
        <b-col>
        <b-input-group :prepend="$t('userArea.compareMarkets.findStore.zipCodeMessage')" size="sm">
          <b-form-input v-model="postalCodeInput" :value="postalCode"/>
          <b-input-group-append>
            <b-button variant="outline-success" @click="dispatchShoppingCartsSearch">
              {{ $t('userArea.compareMarkets.findStore.btnMessage') }}
            </b-button>
          </b-input-group-append>
        </b-input-group>
        </b-col>
        <b-col>
          <b-button variant="info" @click="onFilterStores">
            {{ $t('userArea.compareMarkets.findStore.filterBtn') }}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
        <div v-for="(cart) in shoppingCarts" :key="cart.stores[0].providerId">
          <b-row v-if="compareStoresArray.includes(cart.stores[0].name)" class="my-2 no-gutters">
          <b-col align-self="center" md="auto">
            <store-details :cart="cart" />
          </b-col>
          <b-col lg="8">
            <selected-products :products="cart.shoppingCartProducts"
                               @newProductSelected="onNewProductSelected"
                               @updateProductQuantity="onUpdateProductQuantity"
            />
          </b-col>
          </b-row>
        </div>
    </b-container>
    <select-stores :is-loading-status="isLoadingStatus()"
                   :display="displayStoreSelectionModal"
                   :shopping-carts="shoppingCarts"
                   @filter="onFilterAction"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SelectedProducts from '@/components/v2/shopping-carts/SelectedProducts.vue';
import SelectStores from '@/components/v2/shopping-carts/SelectStores.vue';
import StoreDetails from '@/components/v2/market-card/StoreDetails.vue';

export default {
  name: 'CompareMarkets',
  components: {
    StoreDetails,
    SelectStores,
    SelectedProducts,
  },
  data() {
    return {
      storeIndex: null,
      postalCodeInput: '',
      storeName: '',
      storeId: '',
      compareStoresArray: [],
      displayStoreSelectionModal: false,
    };
  },
  created() {
    if (this.postalCode) {
      this.postalCodeInput = this.postalCode;
      this.dispatchShoppingCartsSearch();
    }
  },
  mounted() {
    this.displayStoreSelectionModal = true;
  },
  computed: {
    ...mapGetters({
      shoppingCarts: 'dashboard/shoppingCarts',
      postalCode: 'user/postalCode',
    }),
  },
  methods: {
    onNewProductSelected({ item, oldItemId }) {
      this.$store.commit('dashboard/CHANGE_PRODUCT_FROM_STORE', { selectedProduct: item, oldItemId });
    },
    onUpdateProductQuantity({ productItem, quantity }) {
      this.$store.commit('dashboard/CHANGE_PRODUCT_QUANTITY', { selectedProduct: productItem, quantity });
    },
    onStoreSelected(cart) {
      this.storeIndex = null;
      this.storeIndex = this.shoppingCarts.indexOf(cart);
      this.storeName = cart.stores[0].name;
      this.storeId = cart.stores[0].id;
      this.$store.commit('dashboard/BUILD_SHOPPING_CART', this.storeIndex);
    },
    isLoadingStatus() {
      return this.postalCode
        ? !this.shoppingCarts || this.shoppingCarts.length < 1
        : false;
    },
    async dispatchShoppingCartsSearch() {
      if (this.postalCodeInput !== this.postalCode) {
        this.$store.commit('user/SET_POSTAL_CODE', this.postalCodeInput);
      }
      await this.$store.dispatch('dashboard/getPricesFromStoresBasedOnPostalCode', this.postalCode);
      this.onFilterStores();
    },
    onConfirmStore() {
      this.$store.dispatch('dashboard/getProductsFromStore', this.storeId);
      this.$router.push({ name: 'Dashboard/ShoppingCarts' });
    },
    onFilterStores() {
      this.displayStoreSelectionModal = true;
    },
    onFilterAction(storesSelected) {
      this.displayStoreSelectionModal = false;
      this.compareStoresArray = storesSelected;
    },
  },
};
</script>

<style lang="scss">
.cs-dashboard-compare-markets-components {
  max-height: 500px;
}
</style>
