<template>
  <div>
    <b-container class="cs-dashboard mt-3 mt-xl-5">
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Dashboard',
  created() {
  },
  computed: {
    ...mapGetters({
      user: 'user/user',
    }),
  },
};
</script>

<style scoped>
.cs-dashboard {
  /*margin: 50px 0 100px 100px;*/
}
</style>
