<template>
<div>
  <b-container fluid="xl">
    <b-row class="mb-4 justify-content-start">
      <div class="h4">{{$t('userArea.shoppingList.title')}}</div>
    </b-row>
    <b-row>
      <shopping-list-table :shopping-list="customShoppingList"
                           :products="shoppingProducts"
                           :is-updating="isUpdatingShoppingList"
                           @addProductToShoppingList="onEditShoppingList"
                           @editProduct="onEditShoppingList"
                           @updateShoppingList="saveAndRefreshShoppingList"
      />
    </b-row>
    <b-row class="justify-content-end">
      <find-stores-by-zip-code :postal-code="postalCode"
                               :button-text="storeFinderBtnText"
                               :input-placeholder="storeFinderInputPlaceholder"
                               @findStores="onFindStores"
      />
    </b-row>
  </b-container>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import ShoppingListTable from '@/components/v2/shopping-list/';
import FindStoresByZipCode from '@/components/v2/find-stores/';

export default {
  name: 'ShoppingList',
  components: { FindStoresByZipCode, ShoppingListTable },
  data() {
    return {
      storeFinderBtnText: this.$t('userArea.shoppingList.postalCode.btn'),
      storeFinderInputPlaceholder: this.$t('userArea.shoppingList.postalCode.placeholder'),
      customShoppingList: [],
    };
  },
  created() {
    this.$store.dispatch('dashboard/fetchShoppingProducts');
    this.$store.dispatch('dashboard/getShoppingList');
  },
  computed: {
    ...mapGetters({
      shoppingList: 'dashboard/shoppingList',
      shoppingProducts: 'dashboard/shoppingProducts',
      postalCode: 'user/postalCode',
      isUpdatingShoppingList: 'dashboard/isUpdatingShoppingList',
    }),
  },
  methods: {
    onEditShoppingList(editedProduct) {
      // eslint-disable-next-line max-len
      const index = this.customShoppingList.findIndex((product) => product.itemId === editedProduct.itemId);
      if (index !== -1) {
        if (editedProduct.quantity > 0) {
          this.customShoppingList[index] = editedProduct;
        } else {
          this.customShoppingList.splice(index, 1);
        }
      } else {
        this.customShoppingList.push(editedProduct);
      }
    },
    async onFindStores(params) {
      this.$store.commit('user/SET_POSTAL_CODE', params.postalCode);
      await this.saveAndRefreshShoppingList({ saveList: true });
      await this.$router.push({ name: 'Dashboard/CompareMarkets' });
    },
    async saveAndRefreshShoppingList(params) {
      if (params.saveList) {
        return this.$store.dispatch('dashboard/updateShoppingList', this.customShoppingList);
      }
      return this.$store.dispatch('dashboard/getShoppingList');
    },
  },
  watch: {
    shoppingList(updatedShoppingList) {
      this.customShoppingList = updatedShoppingList;
    },
  },
};
</script>

<style scoped>
[v-cloak] {
  display: none;
}
</style>
