<template>
  <b-modal v-model="open"
           :title="productType"
           size="xl"
           ok-only
           :ok-title="$t('userArea.compareMarkets.productItem.btn.productChanged')"
  >
    <product-item-carousel :products="products"
                           :other-products="true"
                           :selected-product-id="selectedProductId"
                           @click="onChangeSelectedProduct"/>
  </b-modal>
</template>

<script>
import ProductItemCarousel from '@/components/v2/market-card/ProductItemCarousel.vue';

export default {
  name: 'ChangeProductModal',
  components: { ProductItemCarousel },
  props: {
    products: {
      type: Array,
      value: [],
    },
    productType: {
      type: String,
      value: '',
    },
    selectedProductId: {
      type: String,
      value: '',
    },
  },
  data() {
    return {
      open: false,
    };
  },
  methods: {
    onChangeSelectedProduct({ item }) {
      this.$emit('changeSelectedProduct', { item });
    },
  },
};
</script>

<style scoped>

</style>
