<template>
  <b-overlay :show="isLoading()" rounded="lg" opacity="0.6">
    <template #overlay>
      <div class="d-flex align-items-center">
        <b-spinner small type="grow" variant="secondary"></b-spinner>
        <b-spinner type="grow" variant="dark"></b-spinner>
        <b-spinner small type="grow" variant="secondary"></b-spinner>
      </div>
    </template>
    <b-input-group>
      <vue-typeahead-bootstrap
        v-model="productName"
        :data="products"
        :serializer="item => item['name_es']"
        class="w-100"
        :placeholder="$t('userArea.shoppingList.searchProductByCategory.finderPlaceHolder')"
        @hit="addProductToList"
      >
        <template slot="suggestion" slot-scope="{ data, htmlText }">
          <b-container>
            <b-row>
              <b-col>
                <span class="ml-4" v-html="htmlText"/>
              </b-col>
              <b-col>
                <b-badge pill class="ml-4" variant="primary">{{ data.categoryName }}</b-badge>
              </b-col>
            </b-row>
          </b-container>
        </template>
      </vue-typeahead-bootstrap>
    </b-input-group>
  </b-overlay>
</template>

<script>
import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';

export default {
  name: 'SearchProductByType',
  components: { VueTypeaheadBootstrap },
  props: {
    products: {
      type: Array,
      value: [],
    },
  },
  data() {
    return {
      productName: '',
    };
  },
  methods: {
    addProductToList(item) {
      this.$emit('addNewProduct', item);
      this.productName = null;
    },
    isLoading() {
      return !this.products || this.products.length < 1;
    },
  },
};
</script>

<style scoped>

</style>
