<template>
  <div class="home">
    <intro/>
    <!-- Section Shopping List-->
    <first-section :content="$t('homePage.firstSection')"/>
    <!-- Scanner Section -->
    <second-section :content="$t('homePage.secondSection')"/>
  </div>
</template>
<script>

import Intro from '@/components/home/Intro.vue';
import FirstSection from '@/components/home/FirstSection.vue';
import SecondSection from '@/components/home/SecondSection.vue';
import Analytics from '@/mixins/Analytics.vue';

export default {
  name: 'Home',
  components: { SecondSection, FirstSection, Intro },
  mixins: [Analytics],
  mounted() {
    this.$analytics.fbq.event('ViewContent', 'Home');
  },
};
</script>
