<template>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 0 0 2px #000"
    fade
    img-width="800"
    img-height="480"
  >
    <b-carousel-slide v-for="im in images" v-bind:key="im._id" :img-src="getImagePath(im)"
                      img-alt="Visual demonstration of the application using slides"/>
  </b-carousel>
</template>

<script>
export default {
  name: 'CarouselSection',
  props: {
    images: Array,
  },
  methods: {
    getImagePath(image) {
      return this.$utils.assets.getImageSrc(image);
    },
  },
};
</script>

<style scoped>

</style>
