<template>
  <div>
    <div class="cs-home-intro-background">
      <div class="cs-home-intro-row-space"></div>
      <b-container fluid="lg">
        <b-row class="cs-home-header-title-row text-center">
          <b-col>
            <span class="cs-home-header-title">{{ $t('homePage.intro.headerTitle') }}</span>
          </b-col>
        </b-row>
        <b-row class="cs-home-header-title-row mt-5 pb-5 text-center">
          <b-col v-for="btn in $t('homePage.intro.buttons')" v-bind:key="btn._id" col class="py-3">
            <div v-if="btn.type === 'button'">
              <b-button :class="btn.customClass" @click.stop="btnAction(btn)">
                <span class="pr-2">{{ btn.description }}</span>
                <b-icon icon="play-btn" aria-hidden="true"
                        class="cs-home-intro-play"/>
              </b-button>
            </div>
            <div v-else>
              <b-img @click="btnAction(btn)" :alt="btn.alt" :class="btn.customClass"
                     :src="getImagePath(btn.iconSrc)" />
            </div>
          </b-col>
        </b-row>
      </b-container>
      <video-demonstration-modal ref="videoModal"
                                 :video-name="$t('homePage.intro.modalVideoName')"
      />
    </div>
  </div>
</template>

<script>
import VideoDemonstrationModal from '@/components/modals/VideoDemonstrationModal.vue';
import Analytics from '@/mixins/Analytics.vue';

export default {
  name: 'Intro',
  components: { VideoDemonstrationModal },
  mixins: [Analytics],
  data() {
    return {};
  },
  methods: {
    btnAction(btnContent) {
      this.sendAnalyticEvent(btnContent.id);
      if (btnContent.id === 'videoBtn') {
        this.$refs.videoModal.videoShow = true;
      } else if (btnContent.id === 'appleStoreBtn') {
        window.location.href = btnContent.link;
      }
    },
    getImagePath(imageName) {
      return this.$utils.assets.getImageSrc(imageName);
    },
  },
};
</script>

<style scoped lang="scss">
.cs-home-intro-background {
  background-image: url(../../../public/images/shauttHomePageImage.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cs-home-intro-row-space {
  height: 125px;
  width: auto;
}

.cs-home-intro-button-video {
  background-color: #000000;
  color: $headerPrimaryColor;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
  height: 55px;
  border-color: grey;
  z-index: 10;
  & .cs-home-ss-play {
    height: 25px;
    width: 25px;
  }
}

.cs-home-intro-app-store-icon {
  height: 55px;
  &:hover {
    cursor: pointer;
  }
}
.cs-home-header-title-row {
  width: 50%;
}

.cs-home-header-title {
  font-size: 3vw;
  line-height: 150%;
  color: $brandSecondaryColor;
  font-weight: bold;
  text-shadow: 0.5px 0.5px;
}

@media (max-width: 1000px) {
  .cs-home-header-title {
    font-size: 3vw;
    line-height: 150%;
  }
  .cs-home-header-title-row {
    width: 80%;
  }
  .cs-home-intro-button-video {
    width: 163px;
  }
}

@media (max-width: 800px) {
  .cs-home-header-title {
    font-size: 4vw;
    line-height: 150%;
  }
  .cs-home-header-title-row {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cs-home-header-title {
    font-size: 5vw;
  }
}

@media (max-width: 400px) {
  .cs-home-header-title {
    font-size: 6vw;
  }
}
</style>
