<template>
  <div>
    <b-container fluid="lg">
      <b-row class="w-100">
        <b-col cols="lg">
          <carousel-section :images="content.carouselImages"/>
        </b-col>
        <b-col cols="lg">
          <section-benefits :content="content"/>
          <b-row>
            <b-col class="py-5 text-center">
              <b-button-group>
                <b-button pill class="cs-home-ss-button-video" @click="openVideo">
                  <span class="pr-2">{{ content.videoButton.description }}</span>
                  <b-icon icon="play-btn" variant="dark" aria-hidden="true"
                          class="cs-home-ss-play"/>
                </b-button>
              </b-button-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <video-demonstration-modal :video-name="content.modalVideoName" ref="videoModal"/>
  </div>
</template>

<script>
import VideoDemonstrationModal from '@/components/modals/VideoDemonstrationModal.vue';
import SectionBenefits from '@/components/home/SectionBenefits.vue';
import CarouselSection from '@/components/home/CarouselSection.vue';
import Analytics from '@/mixins/Analytics.vue';

export default {
  name: 'SecondSection',
  components: { CarouselSection, SectionBenefits, VideoDemonstrationModal },
  mixins: [Analytics],
  props: {
    content: Object,
  },
  data() {
    return {};
  },
  methods: {
    openVideo() {
      this.$refs.videoModal.videoShow = true;
      this.sendAnalyticEvent('videoButtonScanner');
    },
    getImagePath(imageName) {
      return this.$utils.assets.getImageSrc(imageName);
    },
  },
};
</script>

<style scoped lang="scss">
.cs-home-ss-button-video {
  background-color: $brandPrimaryColor;
  color: $homePrimaryColor;
  padding: 12px 20px;
  border: none;
  & .cs-home-ss-play {
      height: 25px;
      width: 25px;
    }
}
</style>
