<template>
  <span>{{ formattedValue }}</span>
</template>

<script>
export default {
  name: 'PriceFormatted',
  props: {
    value: Number,
  },
  computed: {
    formattedValue() {
      const formatter = new Intl.NumberFormat('es-ES', {
        style: 'currency',
        currency: 'EUR',
        minimumFractionDigits: 0,
      });
      return formatter.format(this.value);
    },
  },
};
</script>

<style scoped>

</style>
