<template>
  <b-table
    :items="shoppingList"
    :fields="fields"
    :busy="isUpdating"
    :tbody-tr-class="rowClass"
    striped
    outlined
    fluid="lg"
  >
    <template #cell(remove)="data">
     <remove-product-template @removeProduct="onRemoveProduct(data.item)"/>
    </template>
    <template #cell(quantity)="data">
      <quantity-template :quantity="data.item.quantity"
                         @changeQuantity="editQuantity($event, data.item)"
      />
    </template>
    <template #cell(name_es)="data">
      <product-name-template :product-name="data.item['name_es']" />
    </template>
    <template #table-busy>
      <loading-table-template />
    </template>
    <template #custom-foot>
      <b-th colspan="3">
        <search-product-by-type @addNewProduct="onAddNewProduct" :products="products"/>
      </b-th>
    </template>
  </b-table>
</template>

<script>
import SearchProductByType from '@/components/v2/search-product-type';
import QuantityTemplate from '@/components/v2/shopping-list/QuantityTemplate.vue';
import ProductNameTemplate from '@/components/v2/shopping-list/ProductNameTemplate.vue';
import RemoveProductTemplate from '@/components/v2/shopping-list/RemoveProductTemplate.vue';
import LoadingTableTemplate from '@/components/v2/shopping-list/LoadingTableTemplate.vue';

export default {
  name: 'ItemsTable',
  components: {
    LoadingTableTemplate,
    RemoveProductTemplate,
    ProductNameTemplate,
    QuantityTemplate,
    SearchProductByType,
  },
  props: {
    shoppingList: {
      type: Array,
      value: [],
    },
    products: {
      type: Array,
      value: [],
    },
    isUpdating: {
      type: Boolean,
      value: false,
    },
  },
  data() {
    return {
      fields: [
        {
          key: 'name_es',
          sortable: true,
          label: this.$t('userArea.shoppingList.table.item.product'),
        },
        {
          key: 'quantity',
          sortable: false,
          label: this.$t('userArea.shoppingList.table.item.quantity'),
          class: 'text-center',
        },
        {
          key: 'remove',
          sortable: false,
          label: '',
        },
      ],
    };
  },
  methods: {
    editQuantity(evt, data) {
      const item = { ...data, quantity: evt.quantity };
      this.$emit('editProduct', item);
    },
    onRemoveProduct(product) {
      this.$emit('editProduct', { ...product, quantity: 0 });
    },
    rowClass(item, type) {
      let tableRowColor = '';
      if (item && type === 'row' && item.quantity === 0) {
        tableRowColor = 'table-danger';
      }
      return tableRowColor;
    },
    onAddNewProduct(product) {
      this.$emit('addProductToShoppingList', product);
    },
  },
};
</script>

<style scoped lang="scss">
</style>
