<template>
  <div class="text-center text-danger my-2">
    <b-spinner class="align-middle"/>
    <strong>Loading...</strong>
  </div>
</template>

<script>
export default {
  name: 'LoadingTableTemplate',
};
</script>

<style scoped>

</style>
