<template>
  <div>
    <span class="font-italic">{{ productName }}</span>
  </div>
</template>

<script>
export default {
  name: 'ProductNameTemplate',
  props: {
    productName: String,
  },
};
</script>

<style scoped>

</style>
