<template>
  <div class="user-select-none">
      <span class="mr-1 pointer" @click="editQuantity(-1)">-</span>
      <span class="mx-1 font-weight-bolder">{{ customQuantity }}</span>
      <span class="ml-1 pointer" @click="editQuantity(1)">+</span>
  </div>
</template>

<script>
export default {
  name: 'QuantityTemplate',
  props: {
    quantity: Number,
  },
  data() {
    return {
      customQuantity: 0,
    };
  },
  mounted() {
    this.customQuantity = this.quantity || 0;
  },
  methods: {
    editQuantity(value) {
      this.customQuantity = this.customQuantity + value || this.customQuantity;
      this.$emit('changeQuantity', { quantity: this.customQuantity });
    },
  },
  watch: {
    quantity(value) {
      this.customQuantity = value;
    },
  },
};
</script>

<style scoped lang="scss">
.pointer {
  cursor: pointer;
}

.quantity {
  max-width: 50px;
}
</style>
