<template>
  <div>
    <b-button variant="outline-danger" @click="$emit('removeProduct')">
      <b-icon icon="trash"/>
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'RemoveProductTemplate',
};
</script>

<style scoped>

</style>
