<template>
  <b-container>
    <b-row class="justify-content-between mb-2">
      <b-button @click="updateShoppingList" variant="primary">
        <b-icon icon="arrow-clockwise"/>
        {{ $t('userArea.shoppingList.btn.updateList') }}
      </b-button>
      <b-button v-if="shoppingList" @click="updateShoppingList(true)" variant="info">
        <b-icon icon="archive"/>
        {{ $t('userArea.shoppingList.btn.saveList') }}
      </b-button>
    </b-row>
    <b-row>
    <items-table
      :shopping-list="shoppingList"
      :products="products"
      :is-updating="isUpdating"
      @addProductToShoppingList="onAddNewProduct"
      @editProduct="onEditProduct"
    />
    </b-row>
  </b-container>
</template>

<script>
import ItemsTable from '@/components/v2/shopping-list/ItemsTable.vue';

export default {
  name: 'ShoppingList',
  components: { ItemsTable },
  props: {
    shoppingList: {
      type: Array,
      value: [],
    },
    products: {
      type: Array,
      value: [],
    },
    isUpdating: {
      type: Boolean,
      value: false,
    },
  },
  data() {
    return {
    };
  },
  methods: {
    onAddNewProduct(product) {
      this.$emit('addProductToShoppingList', { ...product, quantity: 1 });
    },
    onEditProduct(product) {
      this.$emit('editProduct', product);
    },
    updateShoppingList(save) {
      this.$emit('updateShoppingList', { saveList: save });
    },
  },
};
</script>

<style scoped>

</style>
