<template>
  <b-modal v-model="display"
           size="xl"
           :ok-only=true
           :ok-title="$t('userArea.compareMarkets.selectStores.okBtn')"
           ok-variant="info"
           no-close-on-backdrop
           @ok="onStoreSelected"
  >
    <template #modal-title>
      <span>{{ $t('userArea.compareMarkets.selectStores.title') }}</span>
    </template>
    <b-container>
      <div class="text-center" v-if="isLoadingStatus">
        <b-button variant="primary" disabled v-if="isLoadingStatus">
          <b-spinner small type="grow"></b-spinner>
          {{ $t('userArea.compareMarkets.selectStores.loading') }}
        </b-button>
      </div>
      <div v-else>
        <b-row align-v="center">
          <b-form-group :label="$t('userArea.compareMarkets.selectStores.description')">
            <b-form-checkbox v-for="cart in shoppingCarts"
                             v-model="storesSelected"
                             :key="cart.stores[0].providerId"
                             :value="cart.stores[0].name"
            >
              <market-card :cart="cart" class="mx-4 my-2" :is-selected="isSelected(cart)"/>
            </b-form-checkbox>
          </b-form-group>
        </b-row>
      </div>
    </b-container>
  </b-modal>
</template>

<script>
import MarketCard from '@/components/v2/market-card/StoreSelection.vue';

export default {
  name: 'SelectStores',
  components: { MarketCard },
  props: {
    isLoadingStatus: {
      type: Boolean,
      value: false,
    },
    shoppingCarts: {
      type: Array,
      value: [],
    },
    display: {
      type: Boolean,
      value: false,
    },
  },
  data() {
    return {
      storesSelected: [],
    };
  },
  mounted() {
    this.preSelectAllCarts();
  },
  methods: {
    onStoreSelected(evt) {
      evt.preventDefault();
      this.$emit('filter', this.storesSelected);
    },
    isSelected(cart) {
      return this.storesSelected.includes(cart.stores[0].name);
    },
    preSelectAllCarts() {
      this.shoppingCarts.forEach((cart) => this.storesSelected.push(cart.stores[0].name));
    },
  },
  watch: {
    isLoadingStatus(value) {
      if (!value) {
        this.preSelectAllCarts();
      }
    },
  },
};
</script>

<style scoped>

</style>
