<template>
  <div>
      <product-item-carousel :products="products"
                             :change-product-message="changeProductMessage"
                             :enable-change-quantity="true"
                             @click="onProductClick"
                             @updateProductQuantity="onUpdateProductQuantity"
      />
    <change-product-modal ref="changeProductModal"
                          :products="otherOptionsProducts"
                          :product-type="modalTitle"
                          :selected-product-id="selectedProductId"
                          @changeSelectedProduct="onChangeSelectedProduct"
    />
  </div>
</template>

<script>
import ChangeProductModal from '@/components/v2/change-product-modal/ChangeProductModal.vue';
import ProductItemCarousel from '@/components/v2/market-card/ProductItemCarousel.vue';

export default {
  name: 'SelectedProducts',
  components: { ProductItemCarousel, ChangeProductModal },
  props: {
    products: {
      type: Array,
      value: [],
    },
  },
  data() {
    return {
      otherOptionsProducts: [],
      modalTitle: '',
      selectedProductId: '',
      selectedProductQuantity: 0,
      changeProductMessage: this.$t('userArea.compareMarkets.productItem.changeProductMessage'),
    };
  },
  methods: {
    onProductClick({ item, selectedProduct }) {
      this.otherOptionsProducts = item.otherOptionsProducts;
      this.selectedProductId = selectedProduct.id;
      this.modalTitle = item.productType.productTypeName;
      this.selectedProductQuantity = item.quantity;
      this.$refs.changeProductModal.open = true;
    },
    onChangeSelectedProduct({ item }) {
      this.$emit('newProductSelected', { item, oldItemId: this.selectedProductId });
      this.selectedProductId = item.id;
    },
    onUpdateProductQuantity(data) {
      this.$emit('updateProductQuantity', data);
    },
  },
};
</script>

<style scoped lang="scss">
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $brandPrimaryColor;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
</style>
