<template>
  <div id="footer" v-if="isCommonHeader()">
    <b-container class="px-5 w-100" fluid="md">
      <b-row>
        <b-col sm="12" lg="4" class="text-center pt-4">
          <info/>
        </b-col>
        <b-col sm="12" lg="4" class="text-center pt-4" align-self="center">
          <social-media :content="$t('footer.socialMediaLinks')"/>
        </b-col>
        <b-col sm="12" lg="4" class="text-center pt-4">
          <links :content="$t('footer.links')"/>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center pt-4 pb-4">
          <div class="cs-footer-credits" v-html="noteText()"/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Info from '@/components/footer/Info.vue';
import SocialMedia from '@/components/footer/SocialMedia.vue';
import Links from '@/components/footer/Links.vue';
import Common from '@/mixins/Common.vue';
import constants from '@/utils/constants';

export default {
  name: 'Footer',
  components: { Links, SocialMedia, Info },
  mixins: [Common],
  data() {
    return {};
  },
  methods: {
    noteText() {
      const linkedinLink = this.$t('footer.socialMediaLinks')
        ?.find((link) => link.icon === 'linkedin').link;
      return this.$t('footer.developer.text', {
        ...constants,
        BRAND: `<b-link href="${linkedinLink}" class="cs-footer-credits-link" target="_blank">${constants.BRAND}</b-link>`,
      });
    },
  },
};
</script>

<style scoped lang="scss">
#footer {
  background-color: $brandSecondaryColor;
}

.cs-footer-credits {
  color: $footerPrimaryColor;
  font-size: 14px;
}

/deep/ .cs-footer-credits-link {
  color: $brandPrimaryColor;
}
</style>
