<template>
  <b-container>
    <b-row>
      <b-col>
        <span class="cs-footer-info-title">
          {{$t('footer.info.title', constants).toUpperCase()}}
        </span>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="pt-3">
        <div class="cs-footer-info-description"
             v-html="$t('footer.info.description', constants)"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import constants from '@/utils/constants';

export default {
  name: 'Info',
  props: {
    content: Object,
  },
  data() {
    return {
      constants: {
        ...constants,
        CONTACT: `<span class="cs-footer-info-link">${constants.CONTACT}</span>`,
      },
    };
  },
};
</script>

<style scoped lang="scss">
.cs-footer-info-title {
  color: $brandPrimaryColor;
  font-size: $footerItemsTitle;
  font-weight: bold;
}

.cs-footer-info-description {
  color: $footerPrimaryColor;
  font-size: $footerItemsText;
  text-align: justify;
  text-justify: inter-word;
}

/deep/ .cs-footer-info-link {
  color: $brandPrimaryColor;
}

</style>
