<template>
  <b-container>
    <b-row class="justify-content-md-center">
      <b-col v-for="sm in content" v-bind:key="sm._id">
        <b-link :href="sm.link" target="_blank">
          <b-icon :icon="sm.icon" class="cs-footer-social-icon"></b-icon>
        </b-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'SocialMedia',
  props: {
    content: Array,
  },
  data() {
    return {};
  },
  methods: {
    getImagePath(imageName) {
      return this.$utils.assets.getImageSrc(imageName);
    },
  },
};
</script>

<style scoped lang="scss">
.cs-footer-social-icon {
  height: 25px;
  width: 25px;
  color: $footerPrimaryColor;
  &:hover {
    color: $brandPrimaryColor;
    cursor: pointer;
  }
}
</style>
