<template>
  <b-container fluid="sm">
    <b-row align-h="center" class="mb-3">
      <shautt-logo :hide-brand-title="true"/>
    </b-row>
    <b-row>
    <b-alert :show="errorMessage.length > 0" variant="danger" class="w-100">
      {{ errorMessage }}
    </b-alert>
    </b-row>
    <b-form @submit="onSubmit">
      <b-row align-h="center">
        <b-form-group :description="$t('login.form.email.description')"
                      class="w-100">
          <b-input-group :prepend="$t('login.form.email.label')">
          <b-form-input
              v-model="form.email"
              type="email"
              :placeholder="$t('login.form.email.placeholder')"
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <b-row align-h="center">

        <b-form-group :description="$t('login.form.password.description')" class="w-100">
          <b-input-group :prepend="$t('login.form.password.label')">
            <b-form-input
              v-model="form.password"
              type="password"
              :placeholder="$t('login.form.password.placeholder')"
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-row>
      <b-row align-h="center" class="mb-2">
        <login-button @click="onSubmit"
                      :btn-text="$t('login.form.buttons.submit')"
                      icon="arrow-right-circle-fill"
        />
      </b-row>
    </b-form>
    <b-row>
    <login-button @click="onSocialLogin"
                  :btn-text="$t('login.form.buttons.google')"
                  icon="google"
                  class="mt-2"
    />
    </b-row>
    <b-row>
      <span>
        {{ $t('login.signUpQuestionMessage') }}
        <b-link to="/register" class="brand-primary-color">
          {{ $t('login.signUpText')}}
        </b-link>
      </span>
    </b-row>
  </b-container>
</template>

<script>
import ShauttLogo from '@/components/v2/logos/index';
import LoginButton from '@/components/v2/login/LoginButton.vue';

export default {
  name: 'LoginForm',
  components: { LoginButton, ShauttLogo },
  props: {
    errorMessage: String,
  },
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      show: true,
    };
  },
  methods: {
    onSubmit() {
      this.$emit('submitLogin', {
        provider: 'shautt',
        ...this.form,
      });
      this.form.password = '';
    },
    onSocialLogin() {
      this.$emit('submitLogin', { provider: 'google' });
      this.form.password = '';
      this.form.email = '';
    },
  },
};
</script>

<style scoped lang="scss">
.brand-primary-color {
  color: $brandPrimaryColor;
}
</style>
