<template>
  <b-button type="submit"
            variant="outline-dark"
            class="w-100 brand-primary-color"
            @click="onSubmit">
    {{ btnText }}
    <b-icon :icon="icon" class="mb-1 ml-1"/>
  </b-button>
</template>

<script>
export default {
  name: 'LoginButton',
  props: {
    btnText: {
      type: String,
      value: '',
    },
    icon: {
      type: String,
      value: '',
    },
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$emit('click');
    },
  },
};
</script>

<style scoped>

</style>
