<template>
<div></div>
</template>

<script>
export default {
  name: 'Analytics',
  methods: {
    sendAnalyticEvent(componentId) {
      const events = this.$utils.analytic.getAnalyticEventData(componentId);
      if (events) {
        this.$gtag.event(events.action, events.event);
        this.$analytics.fbq.event(events.action, events.event);
      }
    },
    dealWithAnalyticToolsDuePolicy() {
      const { analyticsCookies } = this.$cookies.get('cookie-consent');
      if (analyticsCookies) {
        this.$gtag.optIn();
        this.$analytics.fbq.init(process.env.VUE_APP_FACEBOOK_ANALYTICS_ID);
      } else {
        this.$gtag.optOut();
      }
    },
  },
};
</script>

<style scoped>

</style>
