<template>
<div></div>
</template>

<script>
export default {
  name: 'Common',
  data() {
    return {
      commonHeader: true,
      sideBar: false,
    };
  },
  methods: {
    isCommonHeader() {
      return this.commonHeader;
    },
    isDisplaySideBar() {
      return this.sideBar;
    },
    getImagePath(imageName) {
      return this.$utils.assets.getImageSrc(imageName);
    },
  },
  watch: {
    $route(to) {
      if (to.path.startsWith('/dashboard')) {
        this.commonHeader = false;
        this.sideBar = false;
      } else {
        this.commonHeader = true;
        this.sideBar = false;
      }
    },
  },
};
</script>

<style scoped>

</style>
