<template>
  <div>
    <div class="mb-2">
      <b-row>
        <b-col v-for="smLink in socialMediaLinksArray()" :key="smLink.icon" class="text-center">
          <b-link :href="smLink.link" target="_blank">
            <b-icon :icon="smLink.icon" class="text-white" style="width: 40px"/>
          </b-link>
        </b-col>
      </b-row>
    </div>
    <b-nav-item v-if="$t('pages.home')">
      <b-link :to="$t('pages.home.link')" class="text-white mx-2">
        {{ $t('pages.home.text') }}
      </b-link>
    </b-nav-item>
    <b-nav-item v-if="$t('pages.termsConditions')">
      <b-link :to="$t('pages.termsConditions.link')" class="text-white mx-2">
        {{ $t('pages.termsConditions.text') }}
      </b-link>
    </b-nav-item>
    <b-nav-item v-if="$t('pages.privacyPolicy')">
      <b-link :to="$t('pages.privacyPolicy.link')" class="text-white mx-2">
        {{ $t('pages.privacyPolicy.text') }}
      </b-link>
    </b-nav-item>
  </div>
</template>

<script>
export default {
  name: 'NavBarItemsMobile',
  methods: {
    socialMediaLinksArray() {
      return this.$t('socialMedia') || [];
    },
  },
};
</script>

<style scoped>

</style>
