<template>
  <div>
    <b-button class="w-100" variant="outline-light" @click="$emit('signOut')">
      {{ $t('header.signOut.text') }}
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'NavBarItemsRightLogged',
};
</script>

<style scoped>

</style>
