<template>
<b-navbar toggleable="lg" type="dark" class="cs-navbar">
  <b-navbar-brand style="cursor: pointer">
    <shautt-logo :hide-brand-title="false" @logoClick="onLogoClick"/>
  </b-navbar-brand>

  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

  <b-collapse id="nav-collapse" is-nav>
    <b-navbar-nav class="mx-auto order-1">
      <nav-bar-items-center :is-user-logged="isUserLogged"/>
    </b-navbar-nav>
    <b-navbar-nav class="order-2 pb-3">
      <nav-bar-items-right :is-user-logged="isUserLogged" @signOut="onSignOut"/>
    </b-navbar-nav>
  </b-collapse>

</b-navbar>
</template>

<script>
import NavBarItemsCenter from '@/components/v2/Header/NavBarItemsCenter.vue';
import NavBarItemsRight from '@/components/v2/Header/NavBarItemsRight.vue';
import ShauttLogo from '@/components/v2/logos/index';
import { mapGetters } from 'vuex';

export default {
  name: 'NavBar',
  components: { ShauttLogo, NavBarItemsRight, NavBarItemsCenter },
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters({
      isUserLogged: 'user/isUserLogged',
    }),
  },
  methods: {
    onSignOut() {
      this.$store.dispatch('user/logOut');
      this.$store.commit('dashboard/CLEAR_DASHBOARD');
      this.$router.push({ name: 'Home' });
    },
    onLogoClick() {
      this.$router.push({ name: 'Home' });
    },
  },
};
</script>

<style scoped lang="scss">
.cs-navbar {
  background-color: $brandPrimaryColor;
}
</style>
