<template>
  <div>
    <div v-if="isUserLogged">
      <nav-bar-items-center-user-logged/>
    </div>
    <div v-else>
      <nav-bar-items-center-not-logged />
    </div>
  </div>
</template>

<script>
import NavBarItemsCenterUserLogged from '@/components/v2/Header/NavBarItemsCenterLogged.vue';
import NavBarItemsCenterNotLogged from '@/components/v2/Header/NavBarItemsCenterNotLogged.vue';

export default {
  name: 'NavBarItemsCenter',
  components: { NavBarItemsCenterNotLogged, NavBarItemsCenterUserLogged },
  props: {
    isUserLogged: Boolean,
  },
};
</script>

<style scoped>

</style>
