<template>
  <div>
    <b-nav-item>
      <b-row class="py-2">
        <b-col class="px-4 px-lg-2 py-1">
        <b-button class="w-100" variant="outline-light"
                  :to="$t('header.items.notLogged.right.loginBtn.link')">
          {{ $t('header.items.notLogged.right.loginBtn.text') }}
        </b-button>
        </b-col>
        <b-col class="px-4 px-lg-2 py-1">
        <b-button class="w-100" variant="outline-light"
                  :to="$t('header.items.notLogged.right.signUpBtn.link')">
          {{ $t('header.items.notLogged.right.signUpBtn.text') }}
        </b-button>
        </b-col>
      </b-row>
    </b-nav-item>
  </div>
</template>

<script>
export default {
  name: 'NavBarItemsRightNotLogged',
  data() {
    return {
    };
  },
};
</script>

<style scoped>

</style>
