<template>
  <div>
    <div v-if="isUserLogged">
      <nav-bar-items-right-logged @signOut="$emit('signOut')"/>
    </div>
    <div v-else>
      <nav-bar-items-right-not-logged />
    </div>
    <nav-bar-items-mobile class="mt-2" v-if="isMobileOptionsOpen"/>
  </div>
</template>

<script>
import NavBarItemsRightLogged from '@/components/v2/Header/NavBarItemsRightLogged.vue';
import NavBarItemsRightNotLogged from '@/components/v2/Header/NavBarItemsRightNotLogged.vue';
import NavBarItemsMobile from '@/components/v2/Header/NavBarItemsMobile.vue';

export default {
  name: 'NavBarItemsRight',
  components: { NavBarItemsMobile, NavBarItemsRightNotLogged, NavBarItemsRightLogged },
  props: {
    isUserLogged: Boolean,
  },
  mounted() {
    this.$root.$on('bv::collapse::state', (collapseId, isJustShown) => {
      this.isMobileOptionsOpen = isJustShown;
    });
  },
  data() {
    return {
      isMobileOptionsOpen: false,
    };
  },
};
</script>

<style scoped>

</style>
