<template>
<div>
  <b-nav-item href="/#" hidden>
    <span class="cs-navbar-item">COMO FUNCIONA</span>
  </b-nav-item>
  <b-nav-item href="/#" hidden>
    <span class="cs-navbar-item">FAQ's</span>
  </b-nav-item>
  <b-nav-item href="content.aboutUs.link" hidden>
    <span class="cs-navbar-item">content.aboutUs.text</span>
  </b-nav-item>
</div>
</template>

<script>
export default {
  name: 'NavBarItemsCenterNotLogged',
  props: {
    content: Object,
  },
};
</script>

<style scoped>

</style>
