<template>
  <div>
    <b-nav-item v-if="$t('pages.shoppingList')">
      <b-link :to="$t('pages.shoppingList.link')" class="text-white">
        {{ $t('pages.shoppingList.text') }}
      </b-link>
    </b-nav-item>
  </div>
</template>

<script>
export default {
  name: 'NavBarItemsCenterUserLogged',
  methods: {
    getItems() {
      return this.$t('header.items.logged.center.links') || [];
    },
  },
};
</script>

<style scoped>

</style>
