<template>
  <div id="app">
    <b-container fluid=true>
      <nav-bar />
      <router-view />
    </b-container>
    <my-footer />
    <cookie-consent ref="cookieConsentModal"/>
  </div>
</template>

<script>
import MyFooter from '@/components/footer/Footer.vue';
import NavBar from '@/components/v2/Header/';
import CookieConsent from '@/components/v2/cookie-policy/CookieConsent.vue';

export default {
  name: 'App',
  components: { CookieConsent, MyFooter, NavBar },
  mounted() {
    this.$refs.cookieConsentModal.checkIfUserAgreedToCookiePolicy();
    this.$store.dispatch('user/fetchUser');
  },
};
</script>

<style lang="scss">
#app {
  html {
    font-family: $brandFontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
</style>
