<template>
  <div>
    <b-container class="mt-3 cs-register">
      <login-form :error-message="errorMsg" @submitLogin="onSubmitLogin"/>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginForm from '@/components/v2/login/index';

export default {
  name: 'Login',
  components: { LoginForm },
  computed: {
    ...mapGetters({
      isUserLogged: 'user/isUserLogged',
      errorMsg: 'user/loginErrorMsg',
    }),
  },
  mounted() {
    if (this.isUserLogged) {
      this.$router.push({ name: 'Dashboard/ShoppingList' });
    }
  },
  methods: {
    onSubmitLogin({ email, password, provider }) {
      this.$store.dispatch('user/logIn', {
        provider,
        email,
        password,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.cs-register {
  min-height: 70vh;
}
</style>
