<template>
  <b-container class="mt-3 cs-register">
    <register-form :error-message="errorMsg" />
  </b-container>
</template>

<script>
import RegisterForm from '@/components/v2/register/index';
import { mapGetters } from 'vuex';

export default {
  name: 'Register',
  components: { RegisterForm },
  computed: {
    ...mapGetters({
      isUserLogged: 'user/isUserLogged',
      errorMsg: 'user/loginErrorMsg',
    }),
  },
  mounted() {
    if (this.isUserLogged) {
      this.$router.push({ name: 'Dashboard/ShoppingList' });
    }
  },
  methods: {
    onSubmitLogin(form) {
      this.$store.dispatch('user/logIn', {
        email: form.email,
        password: form.password,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.cs-register {
  min-height: 70vh;
}
</style>
